* {
	margin: 0;
	padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
	font-size: 16px;
	background-color: #202020;
	color: #fff;
	font-family: "Titillium Web", sans-serif;
}
button {
	background-color: #e08594;
	border: none;
	outline: 0;
	color: #fff;
	padding: 5px 5px;
	margin-top: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover {
	background-color: #b36a76;
}
input {
	border: 2px solid transparent;
	outline: none;
	color: #202020;
	padding: 5px 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	display: block;
	margin-top: 5px;
}
input:focus {
	border-color: #e08594;
}

form {
	padding: 0 10px;
}
